body {
    font-family: 'Gochi Hand', cursive;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.postcard {
    width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.image-container {
    position: relative;
    margin: 1em;
}

.image-container img {
    width: 100%;
    display: block;
    border-radius: 0.5em 0.5em 0 0;
}

.greeting {
    position: absolute;
    text-align: center;
    bottom: 0.5em;
    left: 1em;
    right: 1em;
    border-radius: 1em;
    background-color: #F3F3F2;
    padding: 20px;
}

h1 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333333;;;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #666666;;
}

.address {
    background: #F9F9F9;
    border-top: 1px solid #CCCCCC;
    padding: 20px 20px 20px 40px;
}

.address p {
    margin: 5px 0;
    color: #666666;
}

.author p{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 1em;
}