* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #646464;
}

nav {
    margin-right: 50px;
    position: relative;
    right: 100px;
    top: 5px;
}

a{
    color: green;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: small;
}